a:hover,
a:focus {
    color: #E3E142;
}

a,.tp-caption a.btn:hover {
	color: #E3E142;
}
.top-nav-collapse {
	background: #E3E142;
}

.carousel-indicators .active {
    background-color: #E3E142;
}

.header-text h2 span {
    background-color: #E3E142;
}


.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #E3E142;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #E3E142;
}

.widget-avatar .avatar:hover {
    border: 5px solid #E3E142;
}

.bg-skin {
	background: #E3E142;
}

.highlight-color {
	background-color: #E3E142;
}





form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #E3E142;
}
form.search-form input:focus {
	border-color: #E3E142;
}

/* footer */
ul.footer-menu li a:hover {
	color: #E3E142;
}

footer a.totop:hover {
	color: #E3E142;
}


.btn-skin {
  color: #fff;
  background-color: #E3E142;
  border-color: #E3E142;
}
.wpcf7-text{ border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
    font-size: 18px;
    line-height: 1.6em;height: 46px;
    padding: 10px 16px; width:100%}
.wpcf7-textarea{    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
    font-size: 18px;
    line-height: 1.6em;  height: auto; padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%; display:block;}
#btnContactUs{border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;background-color: #e3e142;
    border-color: #e3e142; width:100%; padding:4px;	
}	
#btnContactUs:hover{	background-color: #666;
    border-color: #666;
    color: #fff;}
.wpcf7-not-valid-tip{ float:left !important; text-align:left !important} 